* {
    text-align: center;
    margin: auto 0;
}

body {
    padding: 50px;
    font: 14px Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

li {
    margin: 5px;
    padding: 5px;
}

.label {
    font-weight: bold;
}

.create-update-form {
    margin: 5px;
    padding: 5px;
}

.form-group {
    margin-bottom: 5px;
}
